/* CARD */

.card-subtitle {
    margin-top: -7px;
    opacity: 0.7;
}

.card {
margin-right: -5px;
}

.product-title{
    color: blue;
}

.sale-details {
    margin-left: 25px;
}

/* CART AND WISH LIST BUTTONS */
.add-to-cart-button{
    width: 220px;
    margin-right: 10px;
}

.add-to-wish-list-button {
    width: 220px;
}

/* REMOVE LABELS */
.form-label {
    display: none;
}

/* REGISTRATION */
.register-text {
    text-align: center;
}

.register-submit {
    width: 100%;
}

.registration-form {
    margin: auto;
    width: 30%;
    padding: 10px;
}

/* ADD PRODUCT */

.add-product-text {
    text-align: center;
}

.add-product-submit {
    width: 100%;
}

.add-product-form {
    margin: auto;
    width: 30%;
    padding: 10px;
}

/* LOGIN */
.login-text {
    text-align: center;
}

.login-submit {
    width: 100%;
}

.login-form {
    margin: auto;
    width: 30%;
    padding: 10px;
}