{% extends "base.html" %}

{% block title %}
Your Shopping Cart
{% endblock %}


{% block content %}


<h3 style="text-align: center;">Shopping Cart</h3>

<div class="container" style="display: flex; align-items: flex-start; gap: 15px;">

  <!-- CART -->
  <div class="container" style="border: 1px solid rgba(255, 0, 0, .2); background-color: white;
                                padding-top: 10px; margin-top: 10px; margin-bottom: 20px;
                                max-width: 60%;">

    {% for product in cart_products %}
    <div class="row" style="max-width: 1000px;">
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <img src="{{ url_for('static', filename='assets/img/' + product.image_path) }}"
             class="card-img-top" width="100%" height="204px">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h5 class="card-title">{{ product.title }}</h5>
        <h6 class="card-title my-2" style="font-size: 1.2em; opacity: 0.7;">{{ product.subtitle }}</h6>
        <h5 class="card-title my-3"><b>$</b>{{ product.price }} </h5>
        <a href="{{ url_for('delete_from_cart.delete_from_cart', product_id=product.id) }}"
           style="color: red; text-decoration: none;">
          Remove
        </a>
      </div>

    </div>
    <hr style="margin-top: 15px;">
      {% endfor %}


    {% if cart_products %}
      <h5 style="text-align: right; padding-bottom: 7px; margin-right: 5px; opacity: 75%">
        {% set cart_size = cart_products | length %}

        Subtotal for {{ cart_size }}
        {% if cart_size  == 1 %}
        item:
        {% else: %}
        Items:
        {% endif %}
        <b> ${{ cart_products | sum('price') }} </b>
      </h5>
    {% else %}
      <p style="text-align: center;">Your shopping cart is currently empty!</p>
      <p style="text-align: center;">
        <a href="{{ url_for('index.index') }}" style="text-decoration: none;">Click here</a>
        to start shopping
      </p>
    {% endif %}
  </div>

<!-- CHECKOUT -->
{% if cart_products %}
<div class="px-4 mx-5" style="border: 1px solid rgba(255, 0, 0, .2); background-color: white;
                         padding-top: 10px; margin-top: 10px; padding-bottom: 20px;
                         ">
  <h5>
    Subtotal ({{ cart_size }} items):
    <b>${{cart_products | sum('price') }}</b>
  </h5>
  <hr>

  {% for product in cart_products %}
  <ul>
    <li>
      <h6>{{ product.title }} - <b>${{ product.price }}</b></h6>
    </li>
  </ul>


  {% endfor %}

  <a class="btn btn-primary proceed-to-checkout-button" href="#" role="button">Proceed to checkout</a>
</div>
{% endif %}

</div>

{% endblock %}