<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Title
    {% endblock %}
    </title>

    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
</head>
<body>

<!-- NAVBAR -->
{% block navbar %}
<div class="flex-container">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>